# shellcheck shell=bash

if command -v nix >/dev/null 2>&1; then
  if ! has nix_direnv_version || ! nix_direnv_version 3.0.5; then
    source_url "https://raw.githubusercontent.com/nix-community/nix-direnv/3.0.5/direnvrc" "sha256-RuwIS+QKFj/T9M2TFXScjBsLR6V3A17YVoEW/Q6AZ1w="
  fi

  watch_file ./nix/flake.nix
  use flake path:./nix
fi

case "$(uname -s)" in
  Linux)
    platform_name="linux"
    ;;
  Darwin)
    platform_name="macos"
    ;;
  *)
    log_error "ERROR[.envrc]: Unsupported platform: $(uname -s)"
    ;;
esac

bazel_env_bin_dir="target-bazel/out/bazel_env-opt-ST-6691f78f59fa/bin/tools/bazel_env_${platform_name}/bin"
watch_file "${bazel_env_bin_dir}"
PATH_add "${bazel_env_bin_dir}"
if [[ ! -d "${bazel_env_bin_dir}" ]]; then
  log_error "ERROR[bazel_env.bzl]: Run 'bazel run //:bazel_env' to regenerate ${bazel_env_bin_dir}"
fi

PATH_add "$(pwd)/tools/scripts"

export BAZEL="$(which bazel)"

git config --local include.path ../.gitconfig

source_env_if_exists .envrc.local
