target/
.vscode/
!.vscode/extensions.json
node_modules/
.env*
*.log
.DS_Store
*.lcov
lcov.info
local/
coverage/
benchmark.txt
.aliases
local.just
!valgrind_suppressions.log

# Docusaurus
docs/build
docs/.docusaurus
docs/.cache-loader

# Website
website/node_modules/

# Output
website/.output
website/.vercel
website/.svelte-kit
website/build

# OS
website/.DS_Store
website/Thumbs.db

# Env
website/.env
website/.env.*
!website/.env.example
!website/.env.test

# Vite
website/vite.config.js.timestamp-*
website/vite.config.ts.timestamp-*
