[merge]
    conflictStyle = "diff3"

[merge "lockfile"]
    name = lockfile auto-regenerator
    driver = ./build/utils/lockfile-rebase.sh %O %A %B %L %P

[merge "mergiraf"]
    name = mergiraf
    driver = mergiraf merge --git %O %A %B -s %S -x %X -y %Y -p %P -l %L
