[package]
name = "scuffle-flv"
version = "0.2.2"
authors = ["Scuffle <opensource@scuffle.cloud>"]
documentation = "https://docs.rs/scuffle-flv"
edition = "2024"
keywords = ["flv", "demuxer"]
license = "MIT OR Apache-2.0"
readme = "README.md"
repository = "https://github.com/scufflecloud/scuffle"
description = "A pure Rust FLV demuxer."

[lints.rust]
unexpected_cfgs = { level = "warn", check-cfg = ['cfg(coverage_nightly)'] }

[features]
## Enables changelog and documentation of feature flags
docs = ["dep:scuffle-changelog", "dep:document-features"]

[dependencies]
bitmask-enum = "2"
byteorder = "1"
bytes = "1"
num-derive = "0.4"
num-traits = "0.2"
serde = "1"
serde_derive = "1"
thiserror = "2"

document-features = { optional = true, version = "0.2" }
nutype-enum = { path = "../nutype-enum", version = "0.1" }
scuffle-amf0 = { features = ["serde"], path = "../amf0", version = "0.2" }
scuffle-av1 = { path = "../av1", version = "0.1" }
scuffle-bytes-util = { features = ["serde"], path = "../bytes-util", version = "0.1" }
scuffle-changelog = { optional = true, path = "../changelog", version = "0.1" }
scuffle-h264 = { path = "../h264", version = "0.2" }
scuffle-h265 = { path = "../h265", version = "0.2" }

[dev-dependencies]
insta = "1"

[package.metadata.docs.rs]
all-features = true
rustdoc-args = [
    "--cfg",
    "docsrs",
    "--sort-modules-by-appearance",
    "--generate-link-to-definition",
]

[package.metadata.xtask.powerset]
additive-features = ["docs"]

[package.metadata.sync-readme.rustdoc-mappings]
changelog = "./CHANGELOG.md"

[package.metadata.sync-readme.badges]
docs-rs = true
crates-io = true
license = true
codecov = true
